* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    background-color: #fff;
    font-family: sans-serif;
    overflow-x: hidden;
}

header {
    border: 1px solid #000;
    width: 100vw;
    min-height: 4rem;
}

main {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    column-gap: 20px;
}

.card {
    height: 200px;
    width: 300px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 4rem;
    border: 1px solid #000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.nav-left > .link {
    margin-left: 2rem;
}

.nav-right > .link{
    margin-right: 2rem;
}

ul {
    list-style-type: none;
    margin-top: 1rem;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    transition: 0.8s;
}

a:hover {
    color: rgb(238, 109, 23);
    transition: 0.4s;
}

input {
    outline: none;
    border: 1px solid #000;
    width: 25vw;
    height: 2rem;
    border-radius: 5px;
    text-indent: 0.5rem;
}

button {
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    height: 2rem;
    width: 10vw;
    font-size: 0.7rem;
    margin-left: 0.5rem;
    text-align: center;
    background-color: #fff;
}